# Core
numpy==1.24.3
pandas==1.5.3

# Visualization
matplotlib==3.7.1
seaborn==0.12.2

# Machine Learning
scikit-learn==1.2.2

# Jupyter
notebook==6.5.4
jupyterlab==3.6.3

# Optional (for saving models)
joblib==1.2.0

# Environment Management
ipykernel==6.25.2
